.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    gap:0.1em
}

.option{
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.5s;
}
.option:hover{
    background-color: rgb(12, 156, 182);
    color: white;
}